#edit-item-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}
#progress-input {
    width: 400px;
    accent-color: hsl(176, 50%, 47%);
    max-width: 90%;
    height: 1rem;
    outline: none;
    border: none;
    border-radius: 100px;
}
.submit-btn {
    text-decoration: none;
    color: black;
    border: none;
    background: hsl(176, 50%, 47%);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    padding: .5% 2%;
}
.submit-btn:hover {
    scale: 1.1;
}

.dark-theme #edit-item-page {
    background: black;
}